body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.auth-button {
    width: 100%;
    background: #9e0217;
    color: white;
}

.auth-button:hover {
    border: 1px solid #9e0217;
    color: #9e0217;
    background: white;
}

.auth-form-container {
    width: 30%
}

p.success-auth-message {
    font-size: 13px;
    color: rgb(4, 114, 15);
}

p.danger-auth-message {
    font-size: 13px;
    color: rgb(158, 7, 7);
}

.content {
    flex: 1;
    padding: 20px;
}

.dashboard-item {
    color: #fff;
    border-radius: 0;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #9e0217;
    cursor: pointer;
    transition: all 1s ease;
    position: relative;
    outline: none;
    border: none;
    z-index: 1;
}

.dashboard-item a {
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
    color: #eee
}

.animated-gradient:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #222;
    border-radius: 0;
    transition: all 1s ease;
}

.animated-gradient:hover {
    color: #fff;
}

.animated-gradient:hover:after {
    left: 0;
    width: 100%;
}

.animated-gradient:active {
    top: 2px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
    width: 100%;
}
.top-nav a {
    color: #eee;
    text-decoration: none;
    margin-left: 15px;
}
.logout-btn {
    color: #eee;
    text-decoration: none;
    margin-left: 15px;
    background: none;
    border:0px
}

.center-link {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.admin-page-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.admin-page-page .content {
    flex: 1;
    padding: 20px;
}

.admin-page-form input,
.admin-page-form select,
.admin-page-form button {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.admin-page-form button {
    background-color: #9e0217;
    color: white;
    cursor: pointer;
}

.admin-page-form button:hover {
    background-color: #7a0111;
}

.admin-page-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.admin-page-table th,
.admin-page-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.admin-page-table th {
    background-color: #f2f2f2;
}

.admin-page-delete-link,
.admin-page-edit-link {
    text-decoration: none;
}

.admin-page-delete-link:hover,
.admin-page-edit-link:hover
 {
    text-decoration: underline;
}