<!DOCTYPE html>
<html lang="it">
<head>
    {% include 'base.html' %}
    <title>Categories</title>
</head>
<body class="admin-page-page">
    {% include "navbar.html" %}

    <div class="container-fluid content">
        <h1>Categories</h1>
        <form id="addCategoryForm" class="admin-page-form" data-url="{{ url_for('admin.categories') }}">
            <input type="text" name="name" placeholder="Category Name" required>
            <button type="submit">Add Category</button>
        </form>
        <table class="admin-page-table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td class="inline-buttons">
                    <form id="getCategoryForm" data-url="{{ url_for('admin.edit_category') }}" data-method="GET" data-callback="showUpdatePopup">
                        <input type="hidden" name="id" value="{{category.id}}">
                        <button type="submit" class="admin-page-edit-link btn btn-outline-primary"><i class="fa fa-edit"></i></button>
                    </form>
                    <a class="admin-page-delete-link btn btn-outline-danger" href="{{ url_for('admin.delete_category', id=category.id) }}" onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% include "dynamic_modal.html" %}
</body>
</html>