<!DOCTYPE html>
<html lang="it">
<head>
    {% include 'base.html' %}
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>

    <form method="POST">
        <input type="text" name="name" placeholder="Category Description" required>
        <button type="submit">Add Category</button>
    </form>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
                <a href="{{ url_for('admin.delete_category', id=category.id) }}" onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
