<!DOCTYPE html>
<html lang="it">
<head>
    {% include 'base.html' %}
    <title>Dashboard</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }
        .content {
            flex: 1;
            padding: 20px;
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}

    <div class="container-fluid content">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="dashboard-item text-center animated-gradient">
                    <a href="{{ url_for('admin.generic_admin_page', resource='customers') }}"><i class="fas fa-users mr-2"></i> Customers</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="dashboard-item text-center animated-gradient">
                    <a href="{{ url_for('admin.generic_admin_page', resource='products') }}"><i class="fas fa-box-open mr-2"></i> Products</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="dashboard-item text-center animated-gradient">
                    <a href="{{ url_for('admin.generic_admin_page', resource='categories') }}"><i class="fas fa-tags mr-2"></i> Categories</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>