<!DOCTYPE html>
<html lang="it">
<head>
    {% include 'base.html' %}
    <title>Login</title>
</head>
<body>
    <div class="container-fluid auth-form-container">
        <h2>Login</h2>
        <form id="login-form" data-url="{{ url_for('auth.login') }}">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" name="remember"> Remember Me
                </label>
            </div>
            <div id="messages"></div>
            <button type="submit" class="btn auth-button">Login</button>
        </form>
        <p class="text-center">Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a></p>
    </div>
</body>
</html>
