<!DOCTYPE html>
<html lang="it">
<head>
    {% include 'base.html' %}
    <title>Register</title>
</head>
<body>
    <div class="container-fluid auth-form-container">
        <h2>Register</h2>
        <form id="register-form" data-url="{{ url_for('auth.register') }}" data-login-url="{{ url_for('auth.login') }}">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                <input type="text" name="name" id="name" class="form-control" placeholder="Full Name" aria-label="name" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required>
            </div>
            <div id="messages"></div>
            <button type="submit" class="btn btn-primary auth-button">Register</button>
        </form>
        <p class="text-center">Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
    </div>
</body>
</html>
